
@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="/images/maintenance.png" alt="Maintenance" class="img-fluid" style="max-width: 200px;">
                <h1 class="mt-3">We are currently undergoing scheduled maintenance.</h1>
                <p class="lead">Sorry for the inconvenience. We are performing some maintenance at the moment. We'll be back up shortly!</p>
                <p>Thank you for your patience.</p>
            </div>
        </div>
    </div>
</div>