
@{
    ViewBag.TItle = "회원가입";
}

abc123
<h1>Index</h1>

<form action="/login/createuser" method="post">
    아이디 : <input type="text" name="userid"/>
    사용자이름 : <input type="text" name="username" />
    Point : <input type="text" name="point" />
    <input type="submit" name="제출"/>
</form>
