@model BusinessLayer.DTO.GetUserDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SearchUserId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchUserId</h1>

<h4>GetUserDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetUser">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="로그인" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

